@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

input, select {
    color: black
}

.d-flex {
  display: flex!important;
  height: 100vh;
}

.center {
  margin: 0 auto;
  align-self: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: green;
  color: white;
}

.signout-button {
    background-color: blue;
    color: white;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-center .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links li {
    margin-left: 1rem;
}

.navbar-center .nav-links li a {
    text-decoration: none;
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    text-decoration: none;
    color: #fff;
    margin-left: 1rem;
}